.jumbotron {
    padding-top: 5px;
    padding-bottom: 10px;
    /* background-color: white; */
}
img {
	width: 300px;
	height: 200px;
}
.btn-lg {
    margin: 5px;
}

.label-success {
    margin-right: 10px; 
}

.jumbotron h1 {
    font-size: 50px;
}
.jumbotron img {
    /*display: none;*/
}
.forkit {
/*display: none;*/
	
}
	
.forkit-curtain {
	/*display: none;*/
}

.panel {
	float: left;
	/*max-width: 70%;*/
	

}
.well {
width: 32%;
	float: left;
	text-align: center;
	padding: 15px;
	background-color: lightgray;
	margin-left: 5px;
	margin-bottom: 25px;
	min-height: 480px;
}
.article {
	width: 49%;
	float: left;
	text-align: center;
	padding: 15px;
	background-color: lightgray;
	margin-left: 5px;
	margin-bottom: 15px;
	min-height: 480px;
}
.article h5 {
	padding-top: 15px;
}
.articles-panel {
	width: 75%;
}
fieldset input.form-control {
	width: 220px;
}
blockquote {
	margin-left: 0px;
	float: right;
	max-width: 32%;
	min-height: 450px;
	/*margin-left: 120px;*/
}
label#endYearText, label#startYearText, label#topicText {
	margin-left: 5px;
	min-width: 220px;
}














